In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [64]:
# veriyi pandas ile csv dosyasından veri adında bir değişkene(dataFrame) aktaralım.
veri=pd.read_csv("kalp_rahatsizligi2.csv")
veri.head(3)

,yas,cinsiyet,gogus_agrisi_tipi,hareketsiz_kan_basinci,serum_kolestrol,aclik_kan_sekeri,elektrokardiyografi,en_yuksek_kalp_hizi,anjin_bagli_egsersiz,st_depresyonu,st_egimi,buyuk_damarlar,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [65]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  buyuk_damarlar          299 non-null    float64
 12  talasemi                301 non-null    object
 13  kalp_rahatsizligi       303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [66]:
veri.rename(columns={
"gogus_agrisi_tipi":"gat",
"hareketsiz_kan_basinci":"hkb",
"serum_kolestrol":"sk",
"aclik_kan_sekeri":"aks",
"elektrokardiyografi":"ekg",
"en_yuksek_kalp_hizi":"eykh",
"anjin_bagli_egsersiz":"abe",
"st_depresyonu":"st_d",
"st_egimi":"st_e",
"buyuk_damarlar":"bds"},inplace=True)
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  bds                299 non-null    float64
 12  talasemi           301 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [67]:
veri2=veri.drop(labels=["bds","talasemi"],axis=1)
veri2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(5), int64(3), object(4)
memory usage: 28.5+ KB

In [77]:
veri3=veri.dropna(axis=0)
veri3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                297 non-null    float64
 1   cinsiyet           297 non-null    object
 2   gat                297 non-null    object
 3   hkb                297 non-null    float64
 4   sk                 297 non-null    float64
 5   aks                297 non-null    int64
 6   ekg                297 non-null    object
 7   eykh               297 non-null    float64
 8   abe                297 non-null    int64
 9   st_d               297 non-null    float64
 10  st_e               297 non-null    object
 11  bds                297 non-null    float64
 12  talasemi           297 non-null    object
 13  kalp_rahatsizligi  297 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 34.8+ KB

In [69]:
#veri.info()
# eksik verilerin giderilmesini sağlayan SimpleImputer sınıfından nesneler oluşturuldu.
imps=SimpleImputer(missing_values=np.nan,strategy="median")# strategy --> "mean","most_frequent"
impk=SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [70]:
# eksik veri olan sütun değerleri birer değişkene alınacak
# imps ve impk nesneleri ile eksik verileri doldurulup yerine eksiksiz hazırlanmış veriler getirilecek.
veri_temiz=veri.copy()
bds=veri_temiz["bds"].values.reshape(-1,1)
tal=veri_temiz["talasemi"].values.reshape(-1,1)
veri_temiz["bds"]=imps.fit_transform(bds)
veri_temiz["talasemi"]=impk.fit_transform(tal)
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  bds                303 non-null    float64
 12  talasemi           303 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [97]:
# aykırı veri tespiti ve sorunun giderilmesi
# serum kolestrol değerinin aykırı verilerinin tespit edilmesi yapılıp
# tespit edilen satırlar silinecek.
# veri_temiz.describe()
veri_temiz["sk"].describe()["25%"]

211.0

In [98]:
sk_q1=veri_temiz["sk"].describe()["25%"]#q1
sk_q3=veri_temiz["sk"].describe()["75%"]#q3
sk_IQR=sk_q3-sk_q1#çeyrekler aralığı
alt_sinir=sk_q1-1.5*sk_IQR
ust_sinir=sk_q3+1.5*sk_IQR
print(alt_sinir)
print(ust_sinir)

116.875
367.875

In [99]:
# alt ve üst sınır değerlerinin dışında olan değeleri görelim
# değer<alt_sınır veya değer>üst_sınır
aykirilar=veri_temiz[(veri_temiz["sk"]<alt_sinir)|(veri_temiz["sk"]>ust_sinir)]
aykirilar

Empty DataFrame
Columns: [yas, cinsiyet, gat, hkb, sk, aks, ekg, eykh, abe, st_d, st_e, bds, talasemi, kalp_rahatsizligi]
Index: []

In [100]:
veri_temiz.drop(labels=aykirilar.index,axis=0,inplace=True)

In [101]:
# veri_temiz=veri_temiz[(veri_temiz["sk"]>=alt_sinir)&(veri_temiz["sk"]<=ust_sinir)]
veri_temiz.info()
veri.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                298 non-null    float64
 1   cinsiyet           298 non-null    object
 2   gat                298 non-null    object
 3   hkb                298 non-null    float64
 4   sk                 298 non-null    float64
 5   aks                298 non-null    int64
 6   ekg                298 non-null    object
 7   eykh               298 non-null    float64
 8   abe                298 non-null    int64
 9   st_d               298 non-null    float64
 10  st_e               298 non-null    object
 11  bds                298 non-null    float64
 12  talasemi           298 non-null    object
 13  kalp_rahatsizligi  298 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 43.0+ KB

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,st_d,st_e,bds,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [102]:
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                298 non-null    float64
 1   cinsiyet           298 non-null    object
 2   gat                298 non-null    object
 3   hkb                298 non-null    float64
 4   sk                 298 non-null    float64
 5   aks                298 non-null    int64
 6   ekg                298 non-null    object
 7   eykh               298 non-null    float64
 8   abe                298 non-null    int64
 9   st_d               298 non-null    float64
 10  st_e               298 non-null    object
 11  bds                298 non-null    float64
 12  talasemi           298 non-null    object
 13  kalp_rahatsizligi  298 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 43.0+ KB

In [107]:
le=LabelEncoder()
for sutun in ["cinsiyet","gat","ekg","st_e","talasemi"]:
    veri_temiz[sutun]=le.fit_transform(y=veri_temiz[sutun])
veri_temiz.head(3)

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,st_d,st_e,bds,talasemi,kalp_rahatsizligi
0,63.0,0,3,145.0,233.0,1,2,150.0,0,2.3,0,0.0,1,0
1,67.0,0,1,160.0,286.0,0,2,108.0,1,1.5,1,3.0,0,1
2,67.0,0,1,120.0,229.0,0,2,129.0,1,2.6,1,2.0,2,1

In [108]:
veri_temiz.iloc[:,:]=minmax_scale(X=veri_temiz.iloc[:,:].values,feature_range=(0,1))
veri_temiz.head(5)

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,st_d,st_e,bds,talasemi,kalp_rahatsizligi
0,0.708333,0.0,1.000000,0.481132,0.457265,1.0,1.0,0.603053,0.0,0.370968,0.0,0.000000,0.5,0.0
1,0.791667,0.0,0.333333,0.622642,0.683761,0.0,1.0,0.282443,1.0,0.241935,0.5,1.000000,0.0,1.0
2,0.791667,0.0,0.333333,0.245283,0.440171,0.0,1.0,0.442748,1.0,0.419355,0.5,0.666667,1.0,1.0
3,0.166667,0.0,0.000000,0.339623,0.529915,0.0,0.5,0.885496,0.0,0.564516,0.0,0.000000,0.0,0.0
4,0.250000,1.0,0.666667,0.339623,0.333333,0.0,1.0,0.770992,0.0,0.225806,1.0,0.000000,0.0,0.0

In [ ]:
veri_temiz.to_csv("kalp_rahatsizligi_temiz.csv",index=False)